@charset "UTF-8";

@media (min-width: 768px) and (max-width: 979px) {
   header {
      padding-top: 32px;
   }

      header .nav {
         margin-top: 32px;
      }

   .btn {
      padding: 20px 9px;
   }

   .btn__ins1:after {
      padding-left: 5px;
      line-height: 20px;
   }

   h3 {
      font-size: 26px;
      margin-top: 70px;
   }

   .bnricon {
      font-size: 248px;
   }

   .bannerwrapper .banner1_text1 {
      font-size: 150px;
      margin: 112px 0 0 5px;
   }

   .bannerwrapper .banner1_text2 {
      margin: 134px 0 0 513px;
      font-size: 40px;
   }

   .bannerwrapper p {
      margin: -154px 0 0 315px;
   }

   .bannerwrapper_2 {
      margin-top: 90px;
   }

      .bannerwrapper_2 h2 {
         padding-right: 18%;
         font-size: 66px;
      }

   .parallax p {
      margin: -140px 0 0 284px;
      font-size: 17px;
   }

   .difbgwrapper {
      border-radius: 30px;
      padding: 10px 0 60px 30px;
   }

      .difbgwrapper h3 {
         margin: 33px 1px 0;
      }

      .difbgwrapper h4 {
         font-size: 20px;
         margin: 0;
      }

      .difbgwrapper .btn {
         padding: 10px 90px 10px 25px;
      }

      .difbgwrapper .well__ins1 h4 {
         padding: 20px 0 0 2px;
      }

   .pricing_leftblock {
      padding-left: 62px;
      padding-bottom: 10px;
      width: 64%;
   }

      .pricing_leftblock:before {
         left: 24px;
      }

      .pricing_leftblock h4 {
         font-size: 15px;
      }

   .pricing_rightblock {
      padding-left: 3px;
      padding-top: 25px;
   }

      .pricing_rightblock span {
         padding-left: 18px;
      }

      .pricing_rightblock strong {
         text-align: center;
      }

   .features {
      margin-top: 35px;
   }

      .features li {
         font-size: 11px;
         padding: 22px 5px 20px 20px;
      }

         .features li:before {
            font-size: 12px;
            line-height: 56px;
            top: 3px;
            left: 5px;
         }

   .pricing_wrapper {
      margin-bottom: 43px;
      margin-right: 0;
   }

   .well {
      padding: 40px 0 90px 0;
   }

   .brand:before {
      top: -22px;
   }

   .social a {
      font-size: 36px;
      height: 70px;
      line-height: 75px;
      margin-bottom: 15px;
      margin-right: 10px;
      text-align: center;
      width: 70px;
   }

   .social .brand__footer {
      margin-top: 25px;
   }

   .social h5 {
      font-size: 19px;
   }

   .social .content_btn {
      padding: 18px 86px 18px 34px;
   }

      .social .content_btn:before {
         line-height: 56px;
      }

   .social h2 + h2 {
      padding-right: 8%;
   }

   .curve_page3 {
      padding-left: 0;
      text-align: center;
   }

      .curve_page3 .btn {
         padding: 9px 100px 10px 40px;
         margin: 61px 0 0 0;
      }
}
