@charset "UTF-8";

header {
   background: #fff;
   padding-top: 32px;
}

   header .brand {
      float: left;
   }

   header .nav {
      float: none;
      font-size: 14px;
      line-height: 44px;
      font-family: "Open Sans", sans-serif;
      color: #fff;
      font-weight: 600;
      text-transform: uppercase;
      margin-top: 32px;
      z-index: 2;
      position: relative;
   }

      header .nav a {
         background: #43464c;
      }

.header-wr:before, .header-wr:after {
   display: table;
   content: "";
   line-height: 0;
}

.header-wr:after {
   clear: both;
}

.btn-wr {
   float: right;
}

   .btn-wr li {
      float: left;
      padding-left: 20px;
   }

   .btn-wr .btn + .btn {
      margin-left: 21px;
   }
