@{
   ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>

<p><a asp-area="" asp-controller="Home" asp-action="ApiTest">Test API using access token</a></p>

<dl>
   @foreach(var claim in User.Claims)
   {
   <dt>@claim.Type</dt>
      <dd>@claim.Value</dd>
   }
</dl>