<div class="site-content-center">
   <div class="form-box animated fadeIn">
      <div class="box-header">
         <h4>Sorry, something went wrong</h4>
      </div>
      <div class="box-body">
         <p>Somehow we lost track of where you should be, click <a asp-controller="Home" asp-action="WebConsoleHome">here</a> to get you back on track.</p>
      </div>
   </div>
</div>
