<div class="site-content-center text-center">
   This should redirect to web console. A user should not be left stranded on the IDP after they have completed/cancel their task or an error has occured.
</div>

