<section class="cam">
   <div class="camera_container">
      <div id="camera" class="camera_wrap">
         <div data-src="images/slide_1.jpg">
            <div class="camera_caption fadeIn">
               <div class="container">
                  <h2>Create</h2>
                  <p>Climb leg rub face on everything give attitude nap all day for under the bed.</p>
               </div>
            </div>
         </div>
         <div data-src="images/slide_2.jpg">
            <div class="camera_caption fadeIn">
               <div class="container">
                  <h2>Connect</h2>
                  <p>Efficiently unleash cross-media information without cross-media value.</p>
               </div>
            </div>
         </div>
         <div data-src="images/slide_3.jpg">
            <div class="camera_caption fadeIn">
               <div class="container">
                  <h2>Communicate</h2>
                  <p>Bacon swine leberkas, ham hock flank beef venison pork belly.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
