@{
   var errorMessage = ViewData["ErrorMessage"];
}

<div class="error-page">
   <div class="page-header">
      <h1>Error</h1>
   </div>

   <div class="row">
      <div class="col-sm-6">
         <div class="alert alert-danger">
            Sorry, an error has occurred. @errorMessage
         </div>
      </div>
   </div>
</div>