<div class="site-content-center">
   <div class="form-box animated fadeIn">
      <div class="box-header">
         <h3>Unexpected Error</h3>
      </div>
      <div class="py-4">
         <p>Something went wrong while processing your request.</p>
      </div>
   </div>
</div>
