@{
   var errorMessage = ViewData["ErrorMessage"];
}

<section id="main_content">
   <div class="container">
      <div class="row">
         <div class="grid_6">
            <h3>Error</h3>
            <h4>
               An error occurred while processing your request.
               @if(ViewData["ErrorMessage"] != null)
               {
                  @errorMessage
               }
            </h4>
         </div>
      </div>
   </div>
</section>
