@model RegisterViewModel

<div class="site-content-center">
   <form asp-controller="Account" asp-action="Register" method="post" class="form-box animated fadeIn">
      <div class="box-header">
         <h4>Create an account</h4>
      </div>
      <div class="box-body">
         <div asp-validation-summary="All" class="form-message"></div>
         <input asp-for="Email" placeholder="Email" />
         <br />
         <button type="submit">Register</button>
      </div>
   </form>
</div>

@section Scripts {
   @await Html.PartialAsync("_ValidationScriptsPartial")
}
