<!DOCTYPE html>
<html>
<head>
   <meta name="format-detection" content="telephone=no" />
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />

   <title>Multilinks | Create Connect Communicate</title>
   <base href="~/" />

   <link rel="icon" href="../images/favicon.ico" type="image/x-icon">
   <link rel="stylesheet" href="../css/grid.css">
   <link rel="stylesheet" href="../css/camera.css">
   <link rel="stylesheet" href="../css/animate.css">
   <link rel="stylesheet" href="../css/style.css">

   <script src="../js/jquery.js"></script>
   <script src="../js/jquery-migrate-1.2.1.js"></script>
   <script src='../js/device.min.js'></script>
</head>
<body>
   @RenderBody()

   @RenderSection("scripts", required: false)
   <script src="../js/script.js"></script>
</body>
</html>
