<div class="site-content-center">
   <div class="form-box animated fadeIn">
      <div class="box-header">
         <h4>Thank you</h4>
      </div>
      <div class="box-body">
         <p>A password reset email has been sent.</p>
      </div>
   </div>
</div>
