<div class="site-content-center">
   <div class="form-box animated fadeIn">
      <div class="box-header">
         <h4>Account lockout</h4>
      </div>
      <div class="box-body">
         <p>This account has been locked out, please try again later.</p>
      </div>
   </div>
</div>
