@{
    ViewData["Title"] = "Locked out";
}

<section id="main_content">
   <div id="intro">
      <div class="form-box animated fadeIn">
         <div class="box-header">
            <h3>Account lockout</h3>
         </div>
         <div>
            <p class="text-danger">This account has been locked out, please try again later.</p>
            <br />
         </div>
      </div>
   </div>
</section>
