@{
   ViewData["Title"] = "Register confirmation success";
}

<section id="main_content">
   <div id="intro">
      <div class="form-box animated fadeIn">
         <div class="box-header">
            <h3>Registration confirmed</h3>
         </div>
         <div>
            <p>Your details was successfully updated.</p>
            <br />
         </div>
      </div>
   </div>
</section>
