@{
   ViewData["Title"] = "Register confirmation pending";
}

<section id="main_content">
   <div id="intro">
      <div class="form-box animated fadeIn">
         <div class="box-header">
            <h3>Please check your email</h3>
         </div>
         <div class="box-body">
            <p>A confirmation email has been sent.</p>
            <br />
         </div>
      </div>
   </div>
</section>
