@model RegisterViewModel

<section id="main_content">
   <div id="intro">
      <form asp-controller="Account" asp-action="Register" method="post" class="form-box animated fadeIn">
         <div class="box-header">
            <h3>Account registration</h3>
         </div>
         <div asp-validation-summary="All" id="form_message"></div>
         <input asp-for="Email" placeholder="Email" />
         <br />
         <button type="submit">Register</button>
      </form>
   </div>
</section>

@section Scripts {
   @await Html.PartialAsync("_ValidationScriptsPartial")
}
