<div *ngIf="workInProgress; else workCompleted">
   <shared-loading></shared-loading>
</div>
<ng-template #workCompleted>
   <div class="my_devices">
      <p *ngIf="!devices">No devices</p>
      <device-detail *ngFor="let device of devices" [device]="device"></device-detail>
   </div>
   <div class="pagination">
      <div class="container">
         <ul *ngIf="paginationProperties.pages && paginationProperties.pages.length">
            <li [ngClass]="{disabled:paginationProperties.currentPage === 1}" class="pagination-button outer-left-button">
               <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:paginationProperties.currentPage === 1}" class="pagination-button">
               <a (click)="setPage(paginationProperties.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of paginationProperties.pages" [ngClass]="{active:paginationProperties.currentPage === page}" class="pagination-button">
               <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:paginationProperties.currentPage === paginationProperties.totalPages}" class="pagination-button">
               <a (click)="setPage(paginationProperties.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:paginationProperties.currentPage === paginationProperties.totalPages}" class="pagination-button outer-right-button">
               <a (click)="setPage(paginationProperties.totalPages)">Last</a>
            </li>
         </ul>
      </div>
   </div>
</ng-template>

