@charset "UTF-8";

header {
   background: #fff;
   padding-top: 32px;
   text-align: center;
}

.header-wr:before, .header-wr:after {
   display: table;
   content: "";
   line-height: 0;
}

.header-wr:after {
   clear: both;
}

.btn-wr {
   float: right;
}

   .btn-wr li {
      float: left;
      padding-left: 20px;
   }

   .btn-wr .btn + .btn {
      margin-left: 21px;
   }
