@charset "UTF-8";

.sf-menu {
   display: table;
   table-layout: fixed;
   width: 100%;
}

   .sf-menu > li {
      position: relative;
      display: table-cell;
   }

   .sf-menu a {
      display: block;
   }

.sf-menu {
   text-align: center;
   color: #FFF;
}

   .sf-menu > li > a {
      color: #FFF;
      padding: 40px 0;
      text-align: center;
   }

   .sf-menu > li:first-child a {
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
   }

   .sf-menu > li:last-child a {
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
   }

   .sf-menu > li.sfHover > a, .sf-menu > li > a:hover {
      color: #FFF;
      background: #00a1d9;
   }

   .sf-menu > li.active > a {
      color: #FFF;
      background: #00a1d9;
      text-align: center;
   }

   .sf-menu ul {
      display: none;
      position: absolute;
      top: 100%;
      width: 235px;
      margin-top: 1px;
      padding: 0 0 10px;
      background: #383B40;
      z-index: 2;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
   }

      .sf-menu ul > li {
         position: relative;
      }

         .sf-menu ul > li > a {
            color: #FFF;
            background: #383B40;
         }

            .sf-menu ul > li.sfHover > a, .sf-menu ul > li > a:hover {
               color: #FFF;
               background: #00a1d9;
            }

      .sf-menu ul ul {
         position: absolute;
         top: 0;
         left: 100%;
         margin-left: 10px;
         margin-top: 0;
         padding: 0;
         z-index: 4;
         background: #00a1d9;
         box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      }

         .sf-menu ul ul:before {
            content: '';
            position: absolute;
            top: 10px;
            right: 100%;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4.5px 7px 4.5px 0;
            border-color: transparent #00a1d9 transparent transparent;
         }

         .sf-menu ul ul > li > a {
            color: #fff;
            background: #00a1d9;
         }

            .sf-menu ul ul > li.sfHover > a, .sf-menu ul ul > li > a:hover {
               color: #fff;
               background: #383B40;
            }

   .sf-menu > li > .sf-with-ul {
      position: relative;
   }

      .sf-menu > li > .sf-with-ul:before {
         position: absolute;
         left: 50%;
         top: 62%;
         margin-left: -6px;
         content: "";
         font: 400 12px/12px "FontAwesome";
      }

.isStuck {
   z-index: 999;
   left: 0;
}

   .isStuck#stuck_container nav {
      margin-top: 0;
   }

   .isStuck .sf-menu > li > a {
      color: #FFF;
      padding: 6px 0;
   }

.toTop {
   width: 50px;
   height: 50px;
   font-size: 24px;
   line-height: 46px;
   color: #fff;
   background: #43464c;
   border-radius: 50%;
   -webkit-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
   -moz-box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
   box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.4);
   position: fixed;
   right: 40px;
   bottom: 40px;
   display: none;
   overflow: hidden;
   text-align: center;
   text-decoration: none;
   z-index: 1235;
}

   .toTop:hover {
      color: #fff;
      background: #00a1d9;
      text-decoration: none;
   }

.mobile .toTop,
.tablet .toTop {
   display: none !important;
}