<div class="site-content-center">
   <div class="form-box animated fadeIn">
      <div class="box-header">
         <h4>Unexpected error</h4>
      </div>
      <div class="box-body">
         <p>Something went wrong while processing your request.</p>
      </div>
   </div>
</div>
