<header>
   <div class="container">
      <div class="header-wr">
         <div class="brand">
            <h1 class="brand_name">
               <a href="/"><span class="brand_name_a">Multi</span><span class="brand_name_b">links</span></a>
            </h1>
            <p class="brand_slogan">
               Create Connect Communicate
            </p>
         </div>
         <ul class="btn-wr">
            <li>
               <a class="btn fa-user">Register</a>
            </li>
         </ul>
      </div>
   </div>
   <div id="stuck_container" class="stuck_container">
      <div class="container">
         <nav class="nav">
            <ul class="sf-menu" data-type="navbar">
               <li>
                  <a href="/recent-activities">TBD</a>
               </li>
               <li>
                  <a href="/my-devices">My Devices</a>
               </li>
               <li>
                  <a href="/my-links">TBD</a>
               </li>
               <li>
                  <a href="/my-services">TBD</a>
               </li>
            </ul>
         </nav>
      </div>
   </div>
</header>
